:root {
  --foreground: #31363F;
  --background: #222831;
  --text: #EEEEEE;
  --highlight: #76ABAE;
  --error: #c42331;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #31363F;
    --background: #222831;
    --text: #EEEEEE;
    --highlight: #76ABAE;
    --error: #c42331;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--roboto);
}

body {
  background-color: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  margin: 40px auto;
  flex: 1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p, h1, a {
  color: var(--text);
}

a {
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
