:root {
  --foreground: #31363F;
  --background: #222831;
  --text: #EEEEEE;
  --highlight: #76ABAE;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #31363F;
    --background: #222831;
    --text: #EEEEEE;
    --highlight: #76ABAE;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p, h1, a {
  color: var(--text);
}

a {
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
