.pagination {

    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 1px solid var(--background);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: var(--foreground);
    
}

.content {

    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 40px 0 40px;

}

.item {

    padding-bottom: 20px;
    border-bottom: 1px solid var(--background);

}

.item:last-child {
    border-bottom: none;
}

.navigation {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--background);
    padding: 20px 40px;

}

.navigation button {

    background-color: var(--highlight);
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.5s;

}

.navigation button:enabled:hover {

    cursor: pointer;
    opacity: 0.8;

}

.header {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--background);
    padding: 20px 40px;

}

.header span {

    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;

}

.manage {

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

}

.manage button {

    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 16px;
    background-color: var(--highlight);
    transition: 0.5s;

}

.manage button:hover {

    opacity: 0.8;
    cursor: pointer;

}

.search {

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: var(--background);
    font-size: 16px;

}

.manage input {

    border: none;
    outline: none;
    background-color: inherit;
    font-size: inherit;

}

@media only screen and (max-width: 1280px) {

    .navigation {

        flex-flow: column;
        justify-content: center;
        gap: 20px;

    }

    .header {

        flex-flow: column;
        justify-content: center;
        gap: 10px;

    }

    .pagination {

        justify-content: center;

    }

    .manage {

        flex-flow: column;
        justify-content: center;

    }

}